/* Importing OpenDyslexic fonts regular, bold and italic */
@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/open_dyslexic/OpenDyslexic-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/open_dyslexic/OpenDyslexic-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/open_dyslexic/OpenDyslexic-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

/* Importing ComicNeue fonts regular, bold, italic */

@font-face {
  font-family: "ComicNeue";
  src: url("../fonts/Comic_Neue/ComicNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ComicNeue";
  src: url("../fonts/Comic_Neue/ComicNeue-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ComicNeue";
  src: url("../fonts/Comic_Neue/ComicNeue-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ComicNeue";
  src: url("../fonts/Comic_Neue/ComicNeue-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

/* Font types for learner customization */

.Roman {
  font-family: "Times New Roman", Times, serif;
}

.Dyslexic {
  font-family: "OpenDyslexic";
}

.Comic {
  font-family: "ComicNeue";
}

/* main > main.medium { */
/* font-size: 2rem; */
/* font-size: medium;
} */

/* Fonts sizes for learner customization */

.small {
  font-size: 16px;
}

.medium {
  font-size: 32px;
}

.large {
  font-size: 64px;
}