/* Importing OpenDyslexic fonts regular, bold and italic */
@font-face {
  font-family: "OpenDyslexic";
  src: url('../fonts/open_dyslexic/OpenDyslexic-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url('../fonts/open_dyslexic/OpenDyslexic-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url('../fonts/open_dyslexic/OpenDyslexic-Italic.otf');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: "OpenDyslexic";
  src: url('../fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

/* Importing ComicNeue fonts regular */

@font-face {
  font-family: "ComicNeue";
  src: url('../fonts/Comic_Neue/ComicNeue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
