/* Importing OpenDyslexic fonts regular, bold and italic */
@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/open_dyslexic/OpenDyslexic-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/open_dyslexic/OpenDyslexic-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/open_dyslexic/OpenDyslexic-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

/* Importing ComicNeue fonts regular, bold, italic */

@font-face {
  font-family: "ComicNeue";
  src: url("../fonts/Comic_Neue/ComicNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ComicNeue";
  src: url("../fonts/Comic_Neue/ComicNeue-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ComicNeue";
  src: url("../fonts/Comic_Neue/ComicNeue-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ComicNeue";
  src: url("../fonts/Comic_Neue/ComicNeue-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

/* Font types for learner customization */

.Roman,
.Roman button {
  font-family: "Times New Roman", Times, serif;
}

.Dyslexic,
.Dyslexic button {
  font-family: "OpenDyslexic";
}

.Comic,
.Comic button {
  font-family: "ComicNeue";
}

/* main > main.medium { */
/* font-size: 2rem; */
/* font-size: medium;
} */

/* Fonts sizes for learner customization */

.font-size-small {
  /* .font-size-small button { */
  font-size: 1rem;
  /* font-size: 16px; */
}

.font-size-medium {
  /* .font-size-medium button { */
  font-size: 1.25rem;
  /* font-size: 20px; */
}

.font-size-large {
  /* .font-size-large button { */
  font-size: 1.5rem;
  /* font-size: 24px; */
}

.shake_avatar:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
